<launch>
    <arg name="taskType" doc="Which task has to run : [welding, cleaning]" />
    <arg name="simu" doc="Simulation or real robot : [ON, OFF]" default="ON" />
    <arg name="environment"
        doc="Which environment is it running on : [ridgeback, robot_pc, desktop_pc]"
        default="desktop_pc" />

    <group ns="ur5">
        <node pkg="wp5_mam_tasks" type="wp5_mam_main_task_node" name="wp5_mam_main_task_node"
            output="screen">
            <param name="taskType" value="$(arg taskType)" />
            <!-- <remap from="robot_description" to="/ur5/robot_description" /> -->
        </node>
    </group>
</launch>