<launch>

    <!-- Define the path to the YAML configuration file -->
    <arg name="config_file" default="$(find anima_laser_node)/config/laser_param.yaml" />

    <!-- Launch your node with the configuration file as a parameter -->
    <node name="laser_anima" pkg="anima_laser_node" type="laser_anima.py" output="screen">
        <param name="config_file" value="$(arg config_file)" />
    </node>

</launch>