# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unwanted folders
build/
devel/
install/
logs/

# Avoid pushing this tool for those who can not use it
tools/docker_ros_coppeliasim*

# Big files
*.mp4

# C extensions
*.so
