<?xml version="1.0"?>
<launch>
    <arg name="simu" doc="Simulation or real robot : [ON, OFF]" default="ON" />
    <arg
        name="environment"
        doc="Which environment is it running on : [ridgeback, robot_pc, desktop_pc]"
        default="desktop_pc" />
    <arg name="camera" doc="Realsens camera to run : [1, 2, all, none]"
        default="none" />

    <arg name="robot_type" doc="Which robot to use : [ur5, xMateCR7]"
        value="ur5" />
    <param name="robot_type" value="$(arg robot_type)" />

    <arg name="ee_tool"
        default="none"
        doc="Add the end effector tool to consider on the robot to have it in collision / visual. [none, logi_laser]" />

    <!-- Setup Robot ip -->
    <arg
        unless="$(eval simu=='ON')" name="robot_ip" value="192.168.131.17" />
    <arg
        if="$(eval simu=='ON')" name="robot_ip" value="127.0.0.1" />

    <!-- Run bring up robot -->
    <include
        file="$(find ur_lasa)/launch/ur5_bringup_moveit.launch">
        <arg name="simu" value="$(arg simu)" />
        <arg name="ee_tool" value="$(arg ee_tool)" />
        <arg name="robot_ip" value="$(arg robot_ip)" />
        <arg name="environment" value="$(arg environment)" />
    </include>

    <!-- <group ns="$(arg robot_type)">
        <node
            pkg="wp5_mam_planner" type="wp5_mam_planner_node" name="wp5_mam_planner_node"
            output="screen">
        </node>
    </group> -->
</launch>