<?xml version="1.0"?>
<launch>
    <arg name="simu" doc="Simulation or real robot : [ON, OFF]" default="ON" />
    <arg name="environment"
        doc="Which environment is it running on : [ridgeback, robot_pc, desktop_pc]"
        default="desktop_pc" />

    <arg name="robot_type" doc="Which robot to use : [ur5, ur10e]" default="ur10e" />
    <param name="robot_type" value="$(arg robot_type)" />

    <arg name="calibration_filename" default="ur10e_default" />

    <arg name="ee_tool"
        doc="Type of the tool attached to the end effector : [none, welding_laser]"
        default="none" />

    <!-- Add strategy to store / read / plan the trajectory -->
    <arg name="trajectories_strategy"
        doc="Parameter to decide if the trajectories have to be : [read, store, plan]"
        default="read"/>
    <param name="trajectories_strategy" value="$(arg trajectories_strategy)" />

    <arg name="trajectories_filename"
        doc="If trajectories have to be either read or stored, give the corresponding filename."
        default="default"/>
    <param name="trajectories_filename" value="$(arg trajectories_filename)" />

    <!-- Setup Robot ip -->
    <arg unless="$(eval simu=='ON')" name="robot_ip" value="192.168.2.100" />
    <arg if="$(eval simu=='ON')" name="robot_ip" value="127.0.0.1" />

    <!-- Run bring up robot -->
    <group if="$(eval robot_type == 'ur5')">
        <include file="$(find ur5_moveit_config)/launch/ur5_bringup_moveit.launch">
            <arg name="simu" value="$(arg simu)" />
            <arg name="ee_tool" value="$(arg ee_tool)" />
            <arg name="robot_ip" value="$(arg robot_ip)" />
            <arg name="environment" value="$(arg environment)" />
            <arg name="calibration_filename" default="$(arg calibration_filename)" />
        </include>
    </group>

    <group if="$(eval robot_type == 'ur10e')">
        <include file="$(find ur10e_moveit_config)/launch/ur10e_bringup_moveit.launch">
            <arg name="simu" value="$(arg simu)" />
            <arg name="ee_tool" value="$(arg ee_tool)" />
            <arg name="robot_ip" value="$(arg robot_ip)" />
            <arg name="calibration_filename" default="$(arg calibration_filename)" />
        </include>
    </group>
</launch>