<launch>
    <arg name="taskType" doc="Which task has to run : [welding, cleaning]" />
    <arg name="task_planner_notify_end"     default="true"/>
    <arg name="simu" doc="Simulation or real robot : [ON, OFF]" default="ON" />

    <arg name="robot_type" doc="Which robot to use : [ur5, ur10e]" default="ur10e"/>
    <param name="robot_type" value="$(arg robot_type)" />

    <group ns="$(arg robot_type)">
        <node pkg="wp5_mam_tasks"
              type="wp5_task_node"
              name="wp5_task_node"
              output="screen">
            <param name="taskType" value="$(arg taskType)" />
            <param name="task_planner_notify_end" value="$(arg task_planner_notify_end)"/>
        </node>
    </group>
</launch>